bleach==1.5.0
enum34==1.1.6
html5lib==0.9999999
Markdown==2.6.9
numpy==1.13.3
pandas==0.20.3
peewee==2.10.1
protobuf==3.5.0.post1
psycopg2==2.7.3.1
python-dateutil==2.6.1
pytz==2017.2
scikit-learn==0.19.1
six==1.11.0
sklearn==0.0
SQLAlchemy==1.1.14
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
Werkzeug==0.12.2
